body{
  width: 100%;
  background-image: linear-gradient(to right, whitesmoke, rgba(14.5, 6.7, 46.3, .6));
}

#imageContainer {
  float: left;
  text-align: center;
  width: 50%;
}

img {
  border: 2px solid #200135;
  height: 150px;
  margin-left: 10px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 42px;
  padding-bottom: 20px;
  color: white;
  text-shadow: 2px 2px black;
}

h2 {
  font-size: 24px;
  text-indent: 40px;
  font-weight: bold;
  margin-top: 10px;
  color: #200135;
  text-shadow: -1px 1px whitesmoke;
}

aside {
  font-family: 'Josefin Sans', sans-serif;
  border: 2px solid whitesmoke;
  height: 400px;
  width: 35%;
  float: left;
  margin-bottom: 15px;
  font-size: 14px;
  background-image: linear-gradient(to left, rgba(52.5, 1.2, 33.3, .1), rgba(56.9, 33.7, 72.5, .6));
}

button {
  font-family: 'Josefin Sans', sans-serif;
  padding: 30px;
  margin: 50px; 
  font-size: 24px;
  font-weight: bold;
}

/* h3 {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
} */